<div class="subscribe-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 xs_mb_30">
                <h2>Subscribe to our newsletter</h2>
            </div>
            <div class="col-lg-6">
                <div class="content">
                    <div class="input-group">
                        <!--<form action="">-->
                        <input type="email" class="form-control" placeholder="Enter your email">
                        <span class="input-group-btn">
                            <button class="btnme" type="submit"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
                        </span>
                        <!--</form>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--Footer top start-->
<div class="footer-area pt_30 pb_30">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12 footer-column pt_50">
                <h3>Supply per country</h3>
                <ul>
                    <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Campervans in Noord-Brabant</a></li>
                    <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Campervans in Gelderland</a></li>
                    <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Campervans in Utrecht</a></li>
                    <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Campervans in Limburg</a></li>
                    <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Campervans in Overijssel</a></li>
                    <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Campervans in Friesland</a></li>
                    <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Campervans in Groningen</a></li>
                    <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Campervans in Drenthe</a></li>
                    <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Campervans in Zeeland</a></li>
                    <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Campervans in Flevoland</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 footer-column pt_50">
                <h3>Popular locations</h3>
                <ul>
                    <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Campervans in London</a></li>
                    <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Campervans in Birmingham</a></li>
                    <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Campervans in Manchester</a></li>
                    <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Campervans in Sheffield</a></li>
                    <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Campervans in Glasgow</a></li>
                    <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Campervans in Edinburgh</a></li>
                    <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Campervans in Cardiff</a></li>
                    <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Campervans in Leeds</a></li>
                    <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Campervans in Bath</a></li>
                    <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Campervans in Bristol</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 footer-column pt_50">
                <h3>Renting and hiring</h3>
                <ul>
                    <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Hire a campervan</a></li>
                    <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Hire a motorhome</a></li>
                    <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Hire a caravan</a></li>
                    <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>For travellers</a></li>
                    <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Rent our your vehicle</a></li>
                    <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>How does renting out work</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 footer-column pt_50">
                <h3>About Company</h3>
                <ul>
                    <li><a href="about.html"><i class="fa fa-angle-right" aria-hidden="true"></i>About Camptoo</a></li>
                    <li><a href="blog.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Blog</a></li>
                    <li><a href="faq.html"><i class="fa fa-angle-right" aria-hidden="true"></i>FAQs</a></li>
                    <li><a href="contact"><i class="fa fa-angle-right" aria-hidden="true"></i>Contact</a></li>
                </ul>
                <div class="address-content">
                    <h6 class="mt_20">Postal address</h6>
                    <address>
                        Binckhorstlaan 36 - H0 12<br>
                        Box 564, Disneyland<br>
                        USA
                    </address>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="border1pxslidww mt_20 pb_25"></div>
                <div class="footer-social-list text-center mb_25">
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
                <div class="footer-middle">
                    <ul>
                        <li><a href="terms-and-conditions.html">Terms and conditions</a></li>
                        <li><a href="privacy-policy.html">Privacy policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Footer top end-->

<!--Footer bottom start-->
<div class="footer-bottom-area pt_20 pb_20">
    <div class="container">
        <div class="row">
            <div class="col-md-8 copy-r-text xs_mb_20">
                Copyright 2021 © TOMBI TRIP | Designed & Developed by <a style="color: #fff" href="https://webbang.co.uk">WebBang Limited</a>
            </div>
            <div class="col-md-4">
                <div class="payment-photo">
                    <img src="img/payment-icon.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!--Footer bottom end-->


<!--Scroll-Top-->
<!--do not delete this input-->
<!--<input type="hidden" id="address" class="hiddentt" />-->

<div class="scroll-top">
    <div class="scroll"></div>
</div>
<!--Scroll-Top-->