
<div class="col-lg-8 col-md-6 col-sm-12">
<div class="row" id="filteredProducts">
    <p class="ajaxLoader">Loading...</p>
    <!--item-->
    {% for supply in data %}
    
    <div class="col-md-6 col-sm-12 pt_30">
        <div class="vehicles-item">
            <div class="photo-list owl-carousel">
                <img src="{{supply.main_photo.url}}" alt="">
                
            </div>
            <div class="more-info">
                <a href=" {% url 'supply-details' supply.id supply.slug %} ">More info</a>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="text">
                        <div class="list">
                            <ul>
                                <li class="font-bold tt-product-head">{{supply.title}}<span class="right">
                                        <div class="review">
                                            <i class="fa fa-star{% if supply.avaregereview < 1%}-o empty{% endif%}"></i>
                                                <i class="fa fa-star{% if supply.avaregereview < 2%}-o empty{% endif%}"></i>
                                                <i class="fa fa-star{% if supply.avaregereview < 3%}-o empty{% endif%}"></i>
                                                <i class="fa fa-star{% if supply.avaregereview < 4%}-o empty{% endif%}"></i>
                                                <i class="fa fa-star{% if supply.avaregereview < 5%}-o empty{% endif%}"></i> {{ supply.avaregereview}}/{{ supply.countreview}}
                                        </div>
                                    </span>
                                </li>
                                <li class="li-middle">from €{{supply.productattribute_set.first.price}} per night <span class="right"></span></li>
                                <li>
                                    <div class="review r-bottom">
                                        <ul>
                                            <li><img src="https://d2g4biwrjrcyy4.cloudfront.net/img-resized/camptoo/icons/seats.svg" alt="">{{supply.seats}}</li>
                                            <li><i class="fa fa-bed" aria-hidden="true"></i> {{supply.bearth}}</li>
                                            <li><i class="fa fa-map-marker" aria-hidden="true"></i> {{supply.city}}</li>
                                        </ul>
                                    </div> 
                               
                                </li>
                            </ul>
                        </div>
                    </div>

                   
                </div>
            </div>
        </div>
    </div>
    {% empty %}
     <h1>No Supply list </h1>
    {% endfor %}

    <p class="my-4 text-center"><a href="products.php" class="btn btn-dark btn-sm">Load More <i class="fa fa-sync"></i></a></p>
</div>
</div>
