
<!--banner area end-->
{% extends 'base.html' %}
{% load static %}
{% block title %} |  page{% endblock title%}
{% block content %}
<!--banner area start-->
<div class="banner-area" style="background-image: url('{% static 'img/slide5.jpg' %}')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="inner">
                    <div class="text">
                        <nav aria-label="breadcrumb-nav">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="/">Home</a>
                                </li>
                                <li class="breadcrumb-item active">Owner Caravan</li>
                            </ol>
                        </nav>
                        <h1>Blog</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--banner area end-->

    <!--start-->
    <div class="simple-page pt_80 pb_80">
        <div class="container">
            <div class="row">
               <div class="col-lg-1 col-md-12"></div>
                <div class="col-lg-10 col-md-12">
                    <nav>
                        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active "  href="{% url 'ownercamper' %}" >Rent out your camper</a>
                            <a class="nav-item nav-link" href="{% url 'ownercaravan' %}" >Rent out a caravan</a>
                        </div>
                    </nav>
                    <div class="tab-content py-3 px-3 px-sm-0" >
                        
                        <div class="tab-pane fade show active" >
                            
                            {{ownercaravan.overview | safe}}

                        </div>
                    </div>

                </div>
                <div class="col-lg-1 col-md-12"></div>
            </div>
        </div>
    </div>

    <!--end-->
            <!--Our renters on owners start-->
            <div class="testimonial-2-area bgwhite pt_80 pb_80">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="headline pb_40 text-center">
                                <p class="heading">Owners</p>
                                <h1>Our renters on owners</h1>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="testimonial-2 owl-carousel">
                                {% for quote in quote %}
                                <div class="item">
                                    <div class="customer-say">
                                        <div class="icon">
                                            <i class="fa fa-quote-right" aria-hidden="true"></i>
                                        </div>
                                        <div class="text">
                                            <p>{{quote.quote}}</p>
                                        </div>
                                    </div>
                                    
        
                                    <div class="man-name">
                                        {% if quote.image %}
        
                                        <div class="photo">
                                            <img src="{{ quote.image.url }}" alt="img">
                                        </div>
                                        {% endif %}
                                        <div class="text">
                                            <h5>{{quote.user}}</h5>
                                            <span>{{quote.job_position}}</span>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                               
                                <!-- <div class="item">
                                    <div class="customer-say">
                                        <div class="icon">
                                            <i class="fa fa-quote-right" aria-hidden="true"></i>
                                        </div>
                                        <div class="text">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere architecto ad laudantium quis dolorum cumque minus laborum qui! Dolorum animi inventore nulla laudantium sed soluta eos fugit qui doloremque omnis.</p>
                                        </div>
                                    </div>
                                    <div class="man-name">
                                        <div class="photo">
                                            <img src="{{  request.session.userimage }}" alt="">
                                        </div>
                                        <div class="text">
                                            <h5>Rasel Reja</h5>
                                            <span>SEO - ABC Foundation, USA.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="customer-say">
                                        <div class="icon">
                                            <i class="fa fa-quote-right" aria-hidden="true"></i>
                                        </div>
                                        <div class="text">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere architecto ad laudantium quis dolorum cumque minus laborum qui! Dolorum animi inventore nulla laudantium sed soluta eos fugit qui doloremque omnis.</p>
                                        </div>
                                    </div>
                                    <div class="man-name">
                                        <div class="photo">
                                            <img src="img/t12.jpg" alt="">
                                        </div>
                                        <div class="text">
                                            <h5>Rasel Reja</h5>
                                            <span>SEO - ABC Foundation, USA.</span>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--experiences end-->
{% endblock %}
