{% extends 'base.html' %}
{% load static %}
{% block content %}
    <script>
        $(document).ready(function () {
            // messages timeout for 10 sec
            setTimeout(function () {
                $('.alert').fadeOut('slow');
            }, 3000); // <-- time in milliseconds, 1000 =  1 sec
        });
    </script>
    <!--banner area start-->
    <div class="banner-area" style="background-image: url('{% static 'img/slide5.jpg' %}')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="inner">
                        <div class="text">
                            <nav aria-label="breadcrumb-nav">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item">
                                        <a href="/">Home</a>
                                    </li>
                                    <li class="breadcrumb-item active">Dashboard</li>
                                </ol>
                            </nav>
                            <h1>Dashboard</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--banner area end-->

    <!--Dashboard start-->
    <div class="dashboard-content pt_80 pb_80">
        <div class="container">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}" role="alert">
                        {{ message }}

                    </div>
                {% endfor %}
            {% endif %}
            <div class="row move-dashboard">
                <!-- add partial sidebar -->
                {% include 'user/sidebar.html' %}
                <div class="col-lg-9 col-md-7">

                    <div class="dashboard-body">
                        <h3>Reservation Update View</h3>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card card-body">

                                    <form action="" method="POST">
                                        {% csrf_token %}
                                        {{ form }}

                                        <input type="submit" name="Submit">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}