{% extends 'base.html' %}
{% load static %}


{% block content %}
 <!--banner area start-->
 <div class="banner-area" style="background-image: url('{% static 'img/slide5.jpg' %}')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="inner">
                    <div class="text">
                        <nav aria-label="breadcrumb-nav">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="/">Home</a>
                                </li>
                                <li class="breadcrumb-item active">Password Change</li>
                            </ol>
                        </nav>
                        <h1>Dashboard</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--banner area end-->
    <!--Dashboard start-->
    <div class="dashboard-content pt_80 pb_80">
        <div class="container">
            <div class="row move-dashboard">
                {% include 'user/sidebar.html' %}
                
                              
                <div class="col-lg-9 col-md-12">
                    <div class="dashboard-body">
                        <h3 class="mb_30">Change Password</h3>
                        <div class="tab-panels">
                            {% if messages %}
                            {% for message in messages %}
                                <div style="color: #d43f3a; font-size: medium">
                                    {{ message|safe }}
                                </div>
                            {% endfor %}
                        {% endif %}
    
    
                        <form method="post" class="mt_15">
                            {% csrf_token %}
                            {% for field in form %}
                                <p>
                                    {{ field.label_tag }}<br>
                                    {{ field }}
                                    {% if field.help_text %}
                                        <small style="color: grey">{{ field.help_text }}</small>
                                    {% endif %}
                                    {% for error in field.errors %}
                                        <p style="color: red">{{ error }}</p>
                                    {% endfor %}
                                </p>
                            {% endfor %}
                            <button class="primary-btn" type="submit">Save changes</button>
                        </form>
    
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Dashboard end-->
   

{% endblock %}